version: '3.9'
services:

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ compose_pihole_host_web_port }}:80/tcp"
    environment:
      TZ: "{{ compose_app_timezone }}"
      WEBPASSWORD: '{{ pihole_web_password }}'
    volumes:
      - "{{ compose_pihole_data_dir }}/config:/etc/pihole"
      - "{{ compose_pihole_data_dir }}/dnsmasq:/etc/dnsmasq.d"
    restart: unless-stopped
  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    ports:
     - "{{ compose_ha_host_web_port }}:8123/tcp"
    environment:
      TZ: "{{ compose_app_timezone }}"
    volumes:
      - "{{ compose_ha_data_dir }}/config:/config"
      - "/etc/localtime:/etc/localtime:ro"
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    restart: unless-stopped
    privileged: true
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883/tcp"
      - "1883:1883/udp"
    volumes:
      - "{{ compose_mqtt_data_dir }}/config:/mosquitto/config/"
      - "{{ compose_mqtt_data_dir }}/log:/mosquitto/log/"
      - "{{ compose_mqtt_data_dir }}/data:/mosquitto/data/"
    restart: unless-stopped
  wg-easy:
    environment:
      - WG_HOST={{ duckdns_domain }}
      - PASSWORD={{ compose_wg_web_pass }}
      # 💡 This is the Pi-Hole Container's IP Address
      - WG_DEFAULT_DNS=10.8.1.3
      - WG_DEFAULT_ADDRESS=10.8.0.x
    image: ghcr.io/wg-easy/wg-easy
    container_name: wg-easy
    volumes:
      - {{ compose_wg_data_dir }}/.wg-easy:/etc/wireguard
    ports:
      - "{{ compose_wg_udp_port }}:51820/udp"
      - "{{ compose_wg_tcp_port }}:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1