version: '3'
services:

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ compose_pihole_host_web_port }}:80/tcp"
    environment:
      TZ: "{{ compose_app_timezone }}"
      WEBPASSWORD: '{{ pihole_web_password }}'
    volumes:
      - "{{ compose_pihole_data_dir }}/config:/etc/pihole"
      - "{{ compose_pihole_data_dir }}/dnsmasq:/etc/dnsmasq.d"
    restart: unless-stopped
  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    ports:
     - "{{ compose_ha_host_web_port }}:8123/tcp"
    environment:
      TZ: "{{ compose_app_timezone }}"
    volumes:
      - "{{ compose_ha_data_dir }}/config:/config"
      - "/etc/localtime:/etc/localtime:ro"
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    restart: unless-stopped
    privileged: true
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883/tcp"
      - "1883:1883/udp"
    volumes:
      - "{{ compose_mqtt_data_dir }}/config:/mosquitto/config/"
      - "{{ compose_mqtt_data_dir }}/log:/mosquitto/log/"
      - "{{ compose_mqtt_data_dir }}/data:/mosquitto/data/"
    restart: unless-stopped